<!doctype html>
<html ng-app>
<head>
    <title>Iterating Over Data</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body ng-init="people=[{name: 'John', city: 'Chandler'}, {name: 'Tina', city: 'New York'}, {name: 'Tom', city: 'Rotterdam'}]">

    <ul>
        <li ng-repeat="person in people">{{ person.name }} - {{ person.city }}</li>
    </ul>

    <hr/>

    <table>
        <tr>
            <td>Name</td>
            <td>City</td>
        </tr>
        <tr ng-repeat="person in people">
            <td>{{ person.name }}</td>
            <td>{{ person.city }}</td>
        </tr>
    </table>

    <script src="angular.js"></script>
</body>
</html>